.irs-handle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  background-color: #ff7518!important;
}

.irs-bar irs-bar--single {
  background-color: #ff7518!important;
}

.btn {
background-color: #ff7518!important;
border-color: white!important;
border-radius:10px!important;
margin-left: 5px;
}

.btn-label {
  margin-top: 16px!important;
  height: 38px!important;
}

.btn-download{
  margin-top: 25px;
}

.btn-download-custom {
  height: 38px;
  width: 38px;
  padding: .375rem .375rem;
  overflow: hidden;
  margin-top: 16px!important;
  padding-right: 30px;
  padding-left: 15px;
}

.search-text input {
  border-radius: 25px!important;
  height: 38px;/
  margin-right: 5px!important;
  margin-top:8px!important;
  padding: 6px 12px; /* adjust as needed */
}

/* Change the border radius of the input group */
.search-text .input-group {
  border-radius: 15px!important;
}

/* Adjust the position and size of the search and reset buttons */
.search-text .input-group-btn > .btn {
  padding: 1;
  font-size: 16px; /* adjust as needed */
  line-height: 1;
  height: 38px; /* match the height of the text input field */
  position: relative;
  top: -2px; /* adjust as needed to align vertically with the text input field */
  margin-top: 8px!important;
}


.label-primary{
  background-color: #ff7518!important;
}

.btn-warning{
  background: #ff7518;
  border-radius: 100px;
  color: #ffffff;
  border:none;
}

.btn:active{
  background: black!important;
  background-color: black!important;
}

.btn:focus{
  outline:  #ff7518!important;
}

.navbar .nav-link:focus {
  outline: none !important;
  box-shadow: none !important;

}

/* add a border to the bottom of the navbar's selected icon when hovered over */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  border-bottom: 3px solid #ff7518;
}

/* when the navbar is clicked make its background colour orange */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #ff7518;
  border-bottom: 3px solid white;
}
/* add the div styling for the tip block on the landing page*/
.tipblock {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  position: relative;
  border-bottom: hidden;
  border-top: hidden;
  border-right: hidden;
  border-left: 4px solid #ff7518;
}
/* tip block styling for left side graphic + colour highlight */
.tipblock::before {
    background-color: #ff7518;
    border-radius: 100%;
    color: #fff;
    content:"\01F5D2";
    font-size: 14px;
    font-weight: 700;
    left: -12px;
    line-height: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    text-align: center;
    top: 14px;
}

/* give form control a 10px border radius */
.form-control {
    border-radius: 16px!important;
}

/* remove the blue outline when form control is focus */
.form-control:focus {
    border-color: #ff7518!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(999 750 180 / 60%)!important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(999 750 180 / 60%)!important;
}

/* give select inputs a 10px border radius */
.selectize-input {
    border-radius: 10px!important;
}

/* when the selectize-input is clicked or is active, make its shadow colour #ff7518 orange */
.selectize-input.focus {
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(999 750 180 / 60%)!important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(999 750 180 / 60%)!important;
    border-color: #ff7518!important;
}


.well {
  border-radius: 10px!important;
}

/* come back to this */
.bttn-material-circle.bttn-md.bttn-primary {
  background: #ff7518!important;
  color: #fff!importantl;
}

.pagination>li>a, .pagination>li>span {
    color: #ff7518!important;
}

:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px rgba(255, 117, 24, 0.5) !important;
}

.input-daterange .input-group-addon.input-group-prepend.input-group-append .input-group-text {
  border-radius: 16px!important;
  background-color: #ff7518!important;
  margin-left: 2px;
  margin-right: 7px;
  color: white;
}
