.irs-handle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1;
  background-color: #ff7518!important;
}

.irs-bar irs-bar--single {
  background-color: #ff7518!important;
}

.btn {
/*background-color: #ff7518!important;*/
  border-color: white!important;
  border-radius:10px!important;
  margin-left: 5px;
}

.btn-label {
  background-color:#ff7518;
  margin-top: 16px!important;
  height: 38px!important;
}

.btn-subgroups-update {
  background-color:#ff7518;
  margin-top: 30px!important;
  margin-left: -15px;
  height: 38px!important;
}

.btn-wlo-update {
  background-color:#ff7518;
  margin-bottom: 10px;
}

.btn-wlo-download {
  margin-top: 10px;
}

.btn-download{
  margin-top: 25px;
}

.btn-warning{
  background: #ff7518;
  border-radius: 100px;
  color: #ffffff;
  border:none;
}

.btn-download-custom {
  background-color:#ff7518;
  height: 38px;
  width: 38px;
  padding: .375rem .375rem;
  overflow: hidden;
  margin-top: 16px!important;
  padding-right: 30px;
  padding-left: 15px;
}

.btn:active{
  background: black!important;
  background-color: black!important;
}

.btn:focus{
  outline:  #ff7518!important;
}

.bs-actionsbox .btn-group button {
  width: 49%;
  background-color: white;
  border-color: #000;
}

.btn-light {
  border-color: grey!important;
  --bs-btn-color: #000;
  --bs-btn-bg: white;
  --bs-btn-border-color: white;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: black;
  --bs-btn-focus-shadow-rgb: white;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: white;
  --bs-btn-active-border-color: black;
  --bs-btn-active-shadow: white);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: white ;
  --bs-btn-disabled-border-color: black
}

.label-primary{
  background-color: #ff7518!important;
}


/* picker input colours */
.bs-deselect-all {
  background-color: white!important;
  border-color:black!important;
}

.bs-select-all {
  background-color: white!important;
  border-color: black!important;
}

.bootstrap-select .btn:focus {
  outline: none !important;
}

.navbar-nav {
  color:white;
  margin-bottom:-6px;
}

.navbar .nav-link:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* add a border to the bottom of the navbar's selected icon when hovered over */
.navbar-nav > li > a:focus {
  border-bottom: 3px solid #ff7518;
  color:white!important;
}

.navbar-nav > li > a:hover {
  border-bottom: 3px solid white;
  color:lightgray!important;
}
/* add the div styling for the tip block on the landing page*/
.tipblock {
  background-color: #f5f5f5;
  width: 100%;
  height: 100%;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  position: relative;
  border-bottom: hidden;
  border-top: hidden;
  border-right: hidden;
  border-left: 4px solid #ff7518;
}
/* tip block styling for left side graphic + colour highlight */
.tipblock::before {
    background-color: #ff7518;
    border-radius: 100%;
    color: #fff;
    content:"\01F5D2";
    font-size: 14px;
    font-weight: 700;
    left: -12px;
    line-height: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    text-align: center;
    top: 14px;
}

/* give form control a 10px border radius */
.form-control {
    border-radius: 16px!important;
}

/* remove the blue outline when form control is focus */
.form-control:focus {
    border-color: #ff7518!important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(999 750 180 / 60%)!important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(999 750 180 / 60%)!important;
}

/* give select inputs a 10px border radius */
.selectize-input {
    border-radius: 10px!important;
}

/* when the selectize-input is clicked or is active, make its shadow colour #ff7518 orange */
.selectize-input.focus {
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(999 750 180 / 60%)!important;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(999 750 180 / 60%)!important;
    border-color: #ff7518!important;
}


.well {
  border-radius: 10px!important;
}

/* come back to this */
.bttn-material-circle.bttn-md.bttn-primary {
  background: #ff7518!important;
  color: #fff!importantl;
}

.pagination>li>a, .pagination>li>span {
    color: #ff7518!important;
}

:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px rgba(255, 117, 24, 0.5) !important;
}

.input-daterange .input-group-addon.input-group-prepend.input-group-append .input-group-text {
  border-radius: 16px!important;
  background-color: #ff7518!important;
  margin-left: 2px;
  margin-right: 7px;
  color: white;
}

/* Change all the sidebars to white background */
.bslib-sidebar-layout>.sidebar {
  background-color:white;
  color: #000
}

.filter-option {
  background-color: white;
  color: #000;
}

/* remove backgrounds from the pickerInput in mod_c_groups_global */
.custom-picker .btn{
  background: none !important;
  border: lightgray !important;
  box-shadow: none !important;
  outline: none !important;
  color: #333;  /* Set the text color */
}

.custom-picker .dropdown-menu.show {
  border: none !important;
  box-shadow: none !important;
  --bs-dropdown-link-active-bg: transparent;
  border-color: transparent !important;
}
